

.menu-text {
    font-size: 10pt;
    margin-top: 8px;
}

.nav-link {
    border-radius: 4px;
    border: solid 1px #ffffff00;
}

.nav-link:hover{
    background-color: #ffffff22;
}

.active {
    background-color: #ffffff10;
    border: solid 1px #ffffff22;
}
/*
body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown),html.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown){overflow-y:initial!important}
body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown):not(.sweetalert2-nopadding),
html.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown):not(.sweetalert2-nopadding){padding-right:0!important}
.swal2-popup{padding:2rem;border-radius:.55rem}
.swal2-popup .swal2-icon{margin:2rem 0 0 0}
.swal2-popup .swal2-title{font-weight:500;font-size:1.3rem;margin:2rem 0 0 0;color:#181c32}
.swal2-popup .swal2-content{font-weight:400;font-size:1.1rem;margin-top:1.5rem;color:#3f4254}
.swal2-popup .btn{margin:15px 5px 0}
.swal2-popup .swal2-styled:focus{-webkit-box-shadow:none;box-shadow:none}
.swal2-popup .swal2-actions{margin:1.5rem auto 1rem auto}
.swal2-container{overflow-y:hidden!important}.swal2-container.swal2-shown{background-color:rgba(0,0,0,.2)}
.swal2-container .swal2-html-container{max-height:200px;overflow:auto}body.swal2-height-auto{height:100%!important}
.swal2-icon.swal2-warning{border-color:#ffa800;color:#ffa800}
.swal2-icon.swal2-error{border-color:#f64e60;color:#f64e60}
.swal2-icon.swal2-error [class^=swal2-x-mark-line]{background-color:rgba(246,78,96,.75)}
.swal2-icon.swal2-success{border-color:#1bc5bd;color:#1bc5bd}
.swal2-icon.swal2-success [class^=swal2-success-line]{background-color:#1bc5bd}.swal2-icon.swal2-success .swal2-success-ring{border-color:rgba(27,197,189,.3)}.swal2-icon.swal2-info{border-color:#8950fc;color:#8950fc}.swal2-icon.swal2-question{border-color:#8950fc;color:#8950fc}*/
